@import url('./reset.css');

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.page {
	height: 80%;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 700;
}

.page p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

.logo {
  margin-top: 6px;
  text-align: center;
}

.main-img {
  border-radius: 50%;
}

.links span,
.links a {
  display: inline-block;
  vertical-align: middle;
}

.links span {
  color: #999;
}

.links span::after {
  content: '·';
}

.links a {
  margin: 0 9px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.links a:hover {
  color: #000;
}

.entries {
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: 30px auto 0;
}

.entries-txt {
  font-style: italic;
}

.page .copyinfo {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}

.list {
  height: 95%;
  overflow: auto;
}

.list h1 {
  font-size: 29px;
}

.list p {
  color: #999;
  font-size: 15px;
}
